/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-ene-2018, 22:31:26
    Author     : alberto
*/

#select_row {
    margin-top: 15px;
}

#modal_button {
    bottom: 0;
    position: fixed;
    margin-bottom: 15px;
    right: 0;
    margin-right: 15px;
}

#filter_icon {
    width: auto;
}

.container table {
    margin-top: 40px;
}

.container table td {
    text-align: left;
}

.container table td:last-child {
    text-align: right;
    padding-right: 20px;
}

ul[class="collection"] {
    margin-top: 40px;
    border-radius: 40px;
}

.rating {
    direction: rtl;
    display: inline-block;
}

.collection a {
    margin-right: -5px;
}

.collection a:hover {
  color: gold;
}

.collection a:hover ~ a {
  color: gold;
}

.collection span {
    float: left;
}

.collection span + span {
    float: right;
}

.cb {
    clear: both;
}

.rating a {
    cursor: pointer;
}

.rating_5 a{
    color: gold;
}

.rating_4 a{
    color: gold;
}

.rating_3 a{
    color: gold;
}

.rating_2 a{
    color: gold;
}

.rating_1 a{
    color: gold;
}


